body{
  background-color: #265073;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 760px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.eredmenyek-text{
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  transition: all 1.5s ease;
}

.csapatnev{
  font-size: 40px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace; 
  text-align: center;
  margin-top: 0;
}


.podiums{
  width: 250px;
  height: 450px;
  display: flex;
  flex-direction:column;
  text-align: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 600;
}


.silver{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 10%;
  bottom: -480px;
  transition: all 1.5s ease;
  max-width: 250px;
}
.silver-standing{
  background-color: #9AD0C2;
  height: 300px;
}
.silver-nev{
  color: #9AD0C2
}



.gold{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -630px;
  transition: all 1.5s ease;
  max-width: 250px;
}
.gold-standing{
  background-color: #F1FADA;
  height: 450px;
}
.gold-nev{
  color: #F1FADA;
  max-width: 100%;
}




.bronze{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -330px;
  right: 10%;
  transition: all 1.5s ease;
  max-width: 250px;
}
.bronze-standing{
  background-color: #2D9596;
  height: 150px;
}
.bronz-nev{
  color: #2D9596;
}

.points{
  font-size: 20px;
  margin-bottom: 8px;
}